{
    background-color: blanchedalmond;
      font-family: 'Times New Roman', Times, serif;
      margin: 0;
    }
    a{
      text-decoration:none;
      color: black;
     text-align: center;
    }
    header{
      display: flex;
       min-height: 70px;
      justify-content: space-between;
    background-color: darkgreen;
     align-items: center;
      padding:10px;
      text-decoration: underline;
    }
    .logo{
      display: flex;
      align-items: center;
    }
    .logo img{
      height: 80px;
     margin-right: 40px;
    }
    nav a{
      font-weight: 600;
      padding-right: 10px;
    
    }
    nav a:hover{
      color: coral;
    
    }
    @media max-width:700px{
      header{
        flex-direction:column;
      }
      nav{
        padding: 10px 0px;
      }
      form {
        align-items: center;
        padding: 50px 20px;
        background-color: blanchedalmond;
        margin: calc(25% + 100px);
        margin-top: 70px;
        padding-top: 28px;
        margin-bottom: 30px;
        font-family: 'Times New Roman', Times, serif;
        text-align: center;
      }
    
